.container-small {
  width: 400px;
  margin: 0 auto;
}

.container-medium {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
}

.container-large {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}