.footer {
  background-color: $black;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;

  ul {
    padding: 0;
  }

  input {
    border-radius: 0%;
    border: none;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.footer-newsletter {
  text-align: right;
}

.footer-newletter-input {
  display: flex;
  justify-content: flex-end;
}

.sign-out {
  background-color: transparent;
  color: white;
  border: none;

  &:focus {
    outline: none;
  }
}


// mobile view
@media screen and (max-width: 400px) {
  .footer {
    padding: 15% 0 5% 0;
    display: block;

    .container {
      display: inline-block;
    }
  }

  .footer-newsletter {
    text-align: left;
    margin-top: 2rem;

    svg {
      margin-bottom: 1rem;
    }
  }

  .footer-newletter-input {
    display: block;
    margin-bottom: 1rem;

    input {
      margin-bottom: 0.5rem;
      height: 43px;
    }
  }
}
